html, 
body,
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1E1E1E;
}
html {
    scroll-behavior: smooth;
  }
html, body {
    min-height: 100vh; 
}
.parentContainer{
    display: flex;
    flex-direction: column;
}
.container-about {
    text-align: center;
    margin-top: 7rem !important;
    margin-bottom: 7rem !important;
    padding: 50px;
    color: #1E1E1E;
    border:dotted 2px #FFFFFF;
    background-color:#FFFFFF ;
    border-radius: 25px;
    width: 80%;
    margin: auto;
    
}
.container-about p{
    margin-top: 1rem;;
    font-size: 2rem;
    text-align: justify;
}

h3{
    font-family: 'Rubik Bubbles';
    font-style: normal;
    font-weight: 300;   
    font-size: 2rem; 
    color: #FFFFFF;
}
h2{
    font-family: 'Rubik Bubbles';
    font-style: normal;
    font-weight: 400;   
    font-size: 3rem; 
    color: #1E1E1E;
    text-align: center;
}
h1 {
    font-family: 'Rubik Bubbles';
    font-style: normal;
    font-weight: 400;
    font-size: 6rem;
    margin: 1rem 0 0 0;
    color: #FFFFFF;
}
img {
    filter: drop-shadow(4px -5px 44px rgba(255, 255, 255, 0.25));
}
.heading {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.container {
    display: flex;
}
.leftPanel, .rightPanel{
    display: flex;
    /* display: flex; */
    flex-direction: column;
}
@media (min-width: 768px) {
    .social-links{
        display: flex;
        justify-content: space-around;
        width:100px;
        height:60px;
        margin: auto;
    }
    .social-links-mobile{
        display: none;
       }
    .container {
        flex-direction: row;
        justify-content: space-between;
    }
    .rightPanel{
    width: 50%;
margin: 7% 4% 5% 10%;
}
    .leftPanel img{
        position: absolute;
        width: 40vw;
        height: auto;
        top: 36vh;
    }
}
.glow-on-hover {
    font-family: 'Rubik Bubbles';
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
    padding: 12px;
    margin:1.5rem;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.redirect-buttons{
    display: none;
}
@media only screen and (min-width: 200px) and (max-width: 767px)  {
    .social-links-mobile{
        display: flex;
        justify-content: space-around;
        width:100px;
        height:60px;
        margin: auto;
    }
    .social-links-mobile img{
        margin-left: 10px;
        margin-right: 10px;
    }
    .redirect-buttons{
        display: flex;
        flex-direction: column;
    }   
    h3{
        font-size: 1rem;
        line-height: 50px;
        margin-bottom: 2rem;
    }
    .uniswapIframe{
        width:90%;
        height: 500px;
    }
    h1 {
        font-size: 2.5rem;
        margin: 3rem 0 0 0;
    }
    h2{
        font-size: 2rem;
    }
    .container-about{
        padding: 20px;
    }
    .container-about p{
        margin-top: 1rem;
        font-size: 1.2rem;
    }
    .leftPanel, .rightPanel{
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .rightPanel{
        padding-top: 2rem;;
    }
    .leftPanel img{
        width: 70%;
        margin: auto;
        position: relative;
    }
    .container {
    flex-direction: column;
    justify-content: center;
    }
    .container-about {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }
    .social-links{
        display: none;
    }
}






